/* Div suspeitos */
.suspeitos {
    background-color: rgb(162, 102, 226);
    border-radius: 0 50px 50px 0;
    margin-bottom: 16px;
    width: 650px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* H1 da Div suspeitos */
.suspeitos__titulo {
    margin-left: 24px;
    font-family: 'Tilt Neon';
    font-weight: 700;
    color: whitesmoke;
}
/* H2 da Div suspeitos */
.suspeitos__dados {
    width: 80px;
    height: 80px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: aliceblue;
    color: rgb(162, 102, 226);
    font-family: 'Tilt Neon';
    font-weight: 700;
    
}